{{#if refreshing}}
  {{loading-state}}
{{else}}
  <div class="hypertable__upper-header">
    <div class="left-side">
      {{#if manager.options.features.selection}}
        <div class="selected-count">
          {{_selectedItems.length}}
        </div>
      {{/if}}

      {{#if manager.options.features.search}}
        {{input
          type="text" placeholder="Search..." value=_searchQuery
          class="form-control upf-input upf-input--small"}}
      {{/if}}

      {{#if (and contextualActions (gt _collection.length 0))}}
        <div class="contextual-actions contextual-actions--no-animation
                    {{unless manager.options.features.search 'contextual-actions--no-search-sibling'}}">
          {{component
            contextualActions selectedItems=_selectedItems collection=_collection}}
        </div>
      {{/if}}
    </div>

    <div class="right-side">
      <button class="upf-btn upf-btn--primary upf-btn--small" {{action "openAvailableFields"}}>
        <i class="fa fa-columns"></i> &nbsp; Manage Fields
      </button>

      {{#if _availableFieldsPanel}}
        <div class="available-fields-wrapper">
          <div class="available-fields-wrapper__categories">
            <div class="field-category {{if (not _activeFieldCategory) 'field-category--active'}}" {{action "setFieldCategory"}}>
              <div>All Fields</div>
              <div><i class="fa fa-caret-right"></i></div>
            </div>
            {{#each _fieldCategories as |category|}}
              <div class="field-category {{if (eq _activeFieldCategory category.key) 'field-category--active'}}" {{action "setFieldCategory" category.key}}>
                <div>{{category.label}}</div>
                <div><i class="fa fa-caret-right"></i></div>
              </div>
            {{/each}}
          </div>

          <div class="available-fields-wrapper__fields">
            <div class="search">
              {{input
                type="text" value=_availableFieldsKeyword
                class="upf-input upf-input--small"}}
            </div>

            <div class="fields-list">
              {{#each _orderedFilteredFields as |field|}}
                <div class="field">
                  {{upf-checkbox
                    value=field.visible size="sm"
                    onValueChange=(action "fieldVisibilityUpdated" field)}}
                  <div class="margin-left-xxx-sm">{{field.name}}</div>
                </div>
              {{else}}
                <div class="field margin-top-md">
                  No columns found
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>

  <div class="hypertable__table {{if (eq _collection.length 0) 'hypertable__table--empty'}}">
    {{#sortable-group
      direction="x" model=_columns onChange=(action "reorderColumns")
      classNames="hypertable" as |group|}}
      {{#each _columns as |column index|}}
        {{#if (eq index 0)}}
          <div class="hypertable__sticky-columns">
            {{#if manager.options.features.selection}}
              <div class="hypertable__column hypertable__column--selection {{concat "hypertable__column--size-" column.size}}">
                {{#hyper-table/cell header=true selection=true}}
                  {{upf-checkbox value=_allRowsSelected size="sm"}}
                {{/hyper-table/cell}}

                {{#if loadingData}}
                  {{#each _loadingCollection}}
                    {{hyper-table/cell loading=true}}
                  {{/each}}
                {{else}}
                  {{#each _collection as |item|}}
                    <div class="hypertable__cell">
                      {{upf-checkbox value=item.selected size="sm"}}
                    </div>
                  {{/each}}

                  {{#if _loadingMore}}
                    {{hyper-table/cell loading=true}}
                    {{hyper-table/cell loading=true}}
                    {{hyper-table/cell loading=true}}
                  {{/if}}
                {{/if}}
              </div>
            {{/if}}

            <div class="hypertable__column {{concat "hypertable__column--size-" column.size}}">
              {{hyper-table/cell
                column=column header=true manager=manager allowFiltering=false}}

              {{#if loadingData}}
                {{#each _loadingCollection}}
                  {{hyper-table/cell loading=true}}
                {{/each}}
              {{else}}
                {{#each _collection as |item|}}
                  <div onmouseover={{action "toggleHover" item true}} onmouseout={{action "toggleHover" item false}}>
                    {{hyper-table/cell
                      item=item column=column onRowClicked=hooks.onRowClicked}}
                  </div>
                {{/each}}

                {{#if _loadingMore}}
                  {{hyper-table/cell loading=true}}
                  {{hyper-table/cell loading=true}}
                  {{hyper-table/cell loading=true}}
                {{/if}}
              {{/if}}
            </div>
          </div>
        {{/if}}
      {{/each}}

      {{#each _columns as |column index|}}
        {{#if (gt index 0)}}
          {{#sortable-item
            classNames=(concat 'hypertable__column hypertable__column--size-' column.size) model=column group=group
            handle=".hypertable__cell--header"}}
            {{hyper-table/cell column=column header=true manager=manager}}

            {{#if loadingData}}
              {{#each _loadingCollection}}
                {{hyper-table/cell loading=true}}
              {{/each}}
            {{else}}
              {{#each _collection as |item|}}
                <div onmouseover={{action "toggleHover" item true}} onmouseout={{action "toggleHover" item false}}>
                  {{hyper-table/cell
                    item=item column=column onRowClicked=hooks.onRowClicked manager=manager}}
                </div>
              {{/each}}

              {{#if _loadingMore}}
                {{hyper-table/cell loading=true}}
                {{hyper-table/cell loading=true}}
                {{hyper-table/cell loading=true}}
              {{/if}}
            {{/if}}
          {{/sortable-item}}
        {{/if}}
      {{/each}}
    {{/sortable-group}}

    {{#if (and (eq _collection.length 0) (not loadingData))}}
      <div class="hypertable__state hypertable__state--empty">
        {{#if (has-block "inverse")}}
          {{yield to="inverse"}}
        {{else}}
          No Data
        {{/if}}
      </div>
    {{/if}}
  </div>

  {{#if footer}}
    <div class="hypertable__footer">
      {{#if (eq _footerType "string")}}
        {{component footer collection=_collection}}
      {{else}}
        {{footer}}
      {{/if}}
    </div>
  {{/if}}
{{/if}}
