<header {{sortable-handle}}>
  <div class="cell-header" {{action "orderColumn" bubbles=false}}>
    <div class="header-title-container">
      <span class="field-title" {{enable-tooltip title=this.column.field.name}}>
        {{#if this.column.field.title}}
          <span>{{this.column.field.title}}</span>
        {{else}}
          {{this.column.field.name}}
        {{/if}}
      </span>

      {{#if this.column.field.tooltip}}
        <OSS::Icon
          @icon="fa-info-circle"
          class="header-tooltip"
          {{enable-tooltip title=this.column.field.tooltip html=true placement="bottom"}}
        />
      {{/if}}

      {{#if (eq this.column.orderDirection "asc")}}
        &nbsp;<span class="order-direction">&uarr;</span>
      {{else if (eq this.column.orderDirection "desc")}}
        &nbsp;<span class="order-direction">&darr;</span>
      {{/if}}
    </div>

    {{#if this.column.field.clustering_key}}
      <div class="subtitle font-size-sm">
        {{this.column.field.clustering_key}}
      </div>
    {{else if this.column.field.subtitle}}
      <div class="subtitle font-size-sm">
        {{this.column.field.subtitle}}
      </div>
    {{/if}}
  </div>

  <div class="icon-commands" data-control-name={{concat "table_column_filter_sort_toggle_" this.column.key}}>
    {{#if this._supportsOrderingOrFiltering}}
      <OSS::Icon @icon="fa-filter" {{enable-tooltip title="Filters"}} {{action "toggleFiltersPanel" bubbles=false}} />
    {{/if}}

    <OSS::Icon @icon="fa-bars fa-rotate-90" />
  </div>

  {{#if (and this._supportsOrderingOrFiltering (eq this.manager.tetherOn this.column.key))}}
    <div class="available-filters" {{on-click-outside (action "toggleFiltersPanel" bubbles=false)}}>
      {{component this._filtersRenderingComponent column=this.column manager=this.manager}}
    </div>
  {{/if}}
</header>

{{yield}}