{{#if this.loading}}
  {{#each this.loadingFacetsRange}}
    <div class="hypertable__facetting-item">
      <div class="item"></div>
      <div class="count"></div>
    </div>
  {{/each}}
{{else}}
  {{#each this.facets as |facet|}}
    <div
      class="hypertable__facetting-item"
      data-control-name={{concat "table_column_filter_sort_facet_" facet.identifier "_toggle"}}
    >
      <div class="item">
        <OSS::Checkbox
          @checked={{facet.applied}} @size="sm"
          @onChange={{action "toggleAppliedFacet" facet}} />

        {{#if facet.facetRenderer}}
          {{facet.facetRenderer}}
        {{else}}
          <span class={{if facet.applied "text-style-bold"}}>
            {{facet.formattedIdentifier}}
            {{#if facet.infoBubble}}
              &nbsp; &nbsp;
              <i class="far fa-info-circle font-color-gray-500" {{enable-tooltip title=facet.infoBubble placement="bottom"}} />
            {{/if}}
          </span>
        {{/if}}
      </div>

      <div class="count">
        {{facet.count}}
      </div>
    </div>
  {{/each}}
{{/if}}