{{#if this.loading}}
  {{#each this.loadingFacetsRange}}
    <div class="hypertable__facetting-item">
      <div class="item"></div>
      <div class="count"></div>
    </div>
  {{/each}}
{{else}}
  {{#each this.facets as |facet|}}
    <div
      class="hypertable__facetting-item"
      data-control-name={{concat "table_column_filter_sort_facet_" facet.identifier "_toggle"}}
    >
      <div class="item">
        <OSS::Checkbox
          @checked={{facet.applied}}
          @size="sm"
          @onChange={{action "toggleAppliedFacet" facet}}
          class="margin-right-px-12"
        />

        {{#if facet.facetRenderer}}
          {{component facet.facetRenderer facet=facet}}
        {{else}}
          <span class={{if facet.applied "text-style-bold"}}>
            {{facet.formattedIdentifier}}
            {{#if facet.infoBubble}}
              <OSS::Icon
                @icon="fa-info-circle"
                class="margin-left-px-6 font-color-gray-500"
                {{enable-tooltip title=facet.infoBubble placement="bottom"}}
              />
            {{/if}}
          </span>
        {{/if}}
      </div>

      <div class="count">
        {{facet.count}}
      </div>
    </div>
  {{/each}}
{{/if}}
