<div class="hypertable__upper-header">
  <div class="left-side">
    {{#if this.manager.options.features.selection}}
      <div class="selected-count">
        {{format-number this._selectedCount}}
      </div>
    {{/if}}

    {{#if this.manager.options.features.search}}
      {{#if this.searchComponent}}
        {{#if (eq this._searchComponentType "string")}}
          {{component this.searchComponent manager=this.manager}}
        {{else}}
          {{this.searchComponent}}
        {{/if}}
      {{else}}
        <Input
          @type="text" @placeholder={{this.placeholder}} @value={{this._searchQuery}}
          data-control-name="table_search_input" class="form-control upf-input upf-input--small" />
      {{/if}}
    {{/if}}

    {{#if (and this.contextualActions (gt this._collection.length 0))}}
      <div
        class="contextual-actions contextual-actions--no-animation {{unless this.manager.options.features.search 'contextual-actions--no-search-sibling'}}">
        {{component
          this.contextualActions selectedItems=this._selectedItems
          collection=this._collection manager=this.manager meta=this.meta}}
      </div>
    {{/if}}
  </div>

  <div class="right-side">
    {{#if this.manager.options.features.filtering}}
      <button
        class="margin-right-xx-sm margin-bottom-xxx-sm upf-btn upf-btn--default upf-btn--small"
        data-control-name="table_reset_filters" {{action "resetAllFilters"}}
        type="button">
        {{t "hypertable.features.filtering.reset_all"}}
      </button>
    {{/if}}

    {{#if this.manager.options.features.tableViews}}
      <button
        class="margin-right-xx-sm margin-bottom-xxx-sm upf-btn upf-btn--default upf-btn--small views-manager-toggle icon-responsive"
        data-control-name="table_toggle_views" type="button" {{action "openAvailableViews" bubbles=false}}>
        <i class="fa fa-eye margin-right-xxx-sm"></i> {{t "hypertable.features.table_views.title"}}
      </button>
    {{/if}}

    <button
      class="margin-bottom-xxx-sm upf-btn upf-btn--primary upf-btn--small fields-manager-toggle icon-responsive"
      data-control-name="table_toggle_fields" type="button" {{action "openAvailableFields" bubbles=false}}>
      <i class="fa fa-columns margin-right-xxx-sm"></i> {{t "hypertable.features.manage_fields.title"}}
    </button>

    <HyperTable::Views
      @manager={{this.manager}} @closeAvailableViews={{action "closeAvailableViews"}} />

    <div
      class="available-fields-wrapper {{if this.manager.availableFieldsPanel 'visible' 'invisible'}}"
      {{on-click-outside (action "closeAvailableFields")}}>
      <div class="available-fields-wrapper__categories">
        <div
          class="field-category {{unless this._activeFieldCategory 'field-category--active'}}"
          {{action "setFieldCategory"}}>
          <div>{{t "hypertable.features.manage_fields.all_fields"}}</div>
          <div><i class="fa fa-caret-right"></i></div>
        </div>
        {{#each this._fieldCategories as |category|}}
          <div
            class="field-category {{if (eq this._activeFieldCategory category.key) 'field-category--active'}}"
            data-control-name={{concat "field_category_toggle_" category.key}}
            {{action "setFieldCategory" category.key}}>
            <div>{{category.label}}</div>
            <div><i class="fa fa-caret-right"></i></div>
          </div>
        {{/each}}
      </div>

      <div class="available-fields-wrapper__fields">
        <div class="search">
          <Input
            @type="text" @value={{this._availableFieldsKeyword}}
            data-control-name="field_search_input" class="upf-input upf-input--small"
            placeholder={{t "hypertable.features.manage_fields.search_placeholder"}}
          />
        </div>

        <div class="fields-list">
          {{#each-in this._orderedFilteredClusters as |clusterName fields|}}
            {{#if clusterName}}
              <p class="cluster-name text-style-bold margin-top-xxx-sm margin-bottom-xxx-sm">
                {{clusterName}}
              </p>
            {{/if}}
            {{#each fields as |field|}}
              <div class="field {{if field.visible 'field--visible'}}" {{action "updateFieldVisibility" field}}>
                <UpfCheckbox
                  @value={{field.visible}} @size="sm"
                  @onValueChange={{action "fieldVisibilityUpdated" field}}
                  data-control-name={{concat "field_toggle_checkbox_" field.key}} />
                <div class="margin-left-xxx-sm">
                  {{#if field.title}}
                    {{field.title}}
                  {{else}}
                    {{field.name}}
                  {{/if}}
                </div>
              </div>
            {{/each}}
          {{else}}
            <div class="field margin-top-md">
              {{t "hypertable.features.manage_fields.no_columns"}}
            </div>
          {{/each-in}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hypertable__table {{if (eq this._collection.length 0) 'hypertable__table--empty'}}">
  {{#if (and this.manager.tetherInstance this.manager.tetherBackdrop)}}
    <div class="hypertable__backdrop" {{action "onBackdropClick"}}></div>
  {{/if}}

  {{#if (and (eq this._collection.length 0) (not this.loadingData))}}
    <div class="hypertable__state hypertable__state--empty">
      {{#if (has-block "inverse")}}
        {{yield to="inverse"}}
      {{else}}
        {{t "hypertable.data.empty_state.default"}}
      {{/if}}
    </div>
  {{/if}}

  <div class="hypertable"
       {{sortable-group direction="x" onChange=(action "reorderColumns")}}
       {{on-bottom-reached this.manager.hooks.onBottomReached}}>
    {{#each this._columns as |column index|}}
      {{#if (eq index 0)}}
        <div class="hypertable__sticky-columns">
          {{#if this.manager.options.features.selection}}
            <div class="hypertable__column hypertable__column--selection {{concat 'hypertable__column--size-' column.size}}">
              <header>
                <UpfCheckbox
                  @value={{this._allRowsSelected}} @size="sm"
                  data-control-name="row_select_all_toggle_checkbox" />
              </header>

              {{#if this.loadingData}}
                {{#each this._loadingCollection}}
                  <HyperTable::Cell @loading={{true}} />
                {{/each}}
              {{else}}
                {{#each this._collection as |item|}}
                  <HyperTable::Cell
                    @item={{item}} @manager={{this.manager}} selection={{true}}>
                    <UpfCheckbox
                      @value={{item.selected}}
                      @size="sm"
                      @disabled={{and this.selectAllIncludesHidden this._allRowsSelected}}
                      data-control-name="row_select_toggle_checkbox" />
                  </HyperTable::Cell>
                {{/each}}

                {{#if this._loadingMore}}
                  <HyperTable::Cell @loading={{true}} />
                  <HyperTable::Cell @loading={{true}} />
                  <HyperTable::Cell @loading={{true}} />
                {{/if}}
              {{/if}}
            </div>
          {{/if}}

          <div class="hypertable__column {{concat 'hypertable__column--size-' column.size}}">
            <header>
              <div class="cell-header">
                {{column.field.name}}
              </div>
            </header>

            {{#if this.loadingData}}
              {{#each this._loadingCollection}}
                <HyperTable::Cell @loading={{true}} />
              {{/each}}
            {{else}}
              {{#each this._collection as |item|}}
                <div onmouseover={{action "toggleHover" item true}}
                     onmouseout={{action "toggleHover" item false}}>
                  <HyperTable::Cell
                    @item={{item}} @column={{column}} @manager={{this.manager}}
                    @renderingComponent={{cell-rendering-inferer column}} />
                </div>
              {{/each}}

              {{#if this._loadingMore}}
                <HyperTable::Cell @loading={{true}} />
                <HyperTable::Cell @loading={{true}} />
                <HyperTable::Cell @loading={{true}} />
              {{/if}}
            {{/if}}
          </div>
        </div>
      {{/if}}
    {{/each}}

    {{#each this._columns as |column index|}}
      {{#if (gt index 0)}}
        <HyperTable::Column
          @column={{column}} @manager={{this.manager}} {{sortable-item model=column onDragStart=(action "dragStarted")}}>
          {{#if this.loadingData}}
            {{#each this._loadingCollection}}
              <HyperTable::Cell @loading={{true}} />
            {{/each}}
          {{else}}
            {{#each this._collection as |item|}}
              <div onmouseover={{action "toggleHover" item true}}
                   onmouseout={{action "toggleHover" item false}}>
                <HyperTable::Cell
                  @item={{item}} @column={{column}} @manager={{this.manager}}
                  @renderingComponent={{cell-rendering-inferer column}} />
              </div>
            {{/each}}

            {{#if this._loadingMore}}
              <HyperTable::Cell @loading={{true}} />
              <HyperTable::Cell @loading={{true}} />
              <HyperTable::Cell @loading={{true}} />
            {{/if}}
          {{/if}}
        </HyperTable::Column>
      {{/if}}
    {{/each}}
  </div>

  <div class="scroll-button-container {{if this.manager.isScrollable 'is-visible'}}">
    <button
      class="upf-btn upf-btn--small scroll-button {{if this.manager.isScrollable 'is-visible'}}"
      {{action "scrollToEnd"}} type="button">
      {{t "hypertable.column.scroll_to_end"}} <i class='fa fa-chevron-right margin-left-xxx-sm'></i>
    </button>
  </div>
</div>

{{#if this.footer}}
  <div class="hypertable-footer">
    {{#if (eq this._footerType "string")}}
      {{component this.footer collection=this._collection}}
    {{else}}
      {{this.footer}}
    {{/if}}
  </div>
{{/if}}
