<div class="hypertable__upper-header">
  <div class="fx-row">
    <div class="left-side">
      {{#if this.manager.options.features.selection}}
        <div class="selected-count">
          {{format-number this._selectedCount}}
        </div>
      {{/if}}

      {{#if this.manager.options.features.search}}
        {{#if this.searchComponent}}
          {{#if (eq this._searchComponentType "string")}}
            {{component this.searchComponent manager=this.manager}}
          {{else}}
            {{this.searchComponent}}
          {{/if}}
        {{else}}
          <OSS::InputContainer
            @placeholder={{this.placeholder}}
            @value={{this._searchQuery}}
            data-control-name="table_search_input"
          >
            <:prefix><OSS::Icon @icon="fa-search" class="font-color-gray-500" /></:prefix>
            <:suffix>
              {{#if (gt this._searchQuery.length 0)}}
                <OSS::Icon @icon="fa-times" class="font-color-gray-500" role="button" {{action "clearSearch"}} />
              {{/if}}
            </:suffix>
          </OSS::InputContainer>
        {{/if}}
      {{/if}}

      {{#if (and this.contextualActions (gt this._collection.length 0))}}
        <div
          class="contextual-actions contextual-actions--no-animation
            {{unless this.manager.options.features.search 'contextual-actions--no-search-sibling'}}"
        >
          {{component
            this.contextualActions
            selectedItems=this._selectedItems
            collection=this._collection
            manager=this.manager
            meta=this.manager.meta
          }}
        </div>
      {{/if}}
    </div>
    <div class="right-side">
      {{#if this.manager.options.features.filtering}}
        <OSS::Button
          @label={{t "hypertable.features.filtering.reset_all"}}
          class="margin-right-px-12"
          data-control-name="table_reset_filters"
          {{action "resetAllFilters"}}
        />
      {{/if}}

      {{#if this.manager.options.features.tableViews}}
        <OSS::Button
          @icon="far fa-eye"
          @label={{t "hypertable.features.table_views.title"}}
          class="margin-right-px-12 views-manager-toggle icon-responsive"
          data-control-name="table_toggle_views"
          {{action "openAvailableViews" bubbles=false}}
        />
      {{/if}}

      <OSS::Button
        @icon="far fa-columns"
        @label={{t "hypertable.features.manage_fields.title"}}
        class="fields-manager-toggle icon-responsive"
        data-control-name="table_toggle_fields"
        {{action "openAvailableFields" bubbles=false}}
      />

      <HyperTable::Views @manager={{this.manager}} @closeAvailableViews={{action "closeAvailableViews"}} />

      <div
        class="available-fields-wrapper {{if this.manager.availableFieldsPanel 'visible' 'invisible'}}"
        {{on-click-outside (action "closeAvailableFields")}}
      >
        <div class="available-fields-wrapper__categories">
          <div
            class="field-category {{unless this._activeFieldCategory 'field-category--active'}}"
            {{action "setFieldCategory"}}
          >
            <div>{{t "hypertable.features.manage_fields.all_fields"}}</div>
            <div><OSS::Icon @icon="fa-caret-right" /></div>
          </div>
          {{#each this._fieldCategories as |category|}}
            <div
              class="field-category {{if (eq this._activeFieldCategory category.key) 'field-category--active'}}"
              data-control-name={{concat "field_category_toggle_" category.key}}
              {{action "setFieldCategory" category.key}}
            >
              <div>{{category.label}}</div>
              <div><OSS::Icon @icon="fa-caret-right" /></div>
            </div>
          {{/each}}
        </div>

        <div class="available-fields-wrapper__fields">
          <div class="search">
            <OSS::InputContainer
              @placeholder={{t "hypertable.features.manage_fields.search_placeholder"}}
              @value={{this._availableFieldsKeyword}}
              data-control-name="field_search_input"
            />
          </div>

          <div class="fields-list">
            {{#each-in this._orderedFilteredClusters as |clusterName fields|}}
              {{#if clusterName}}
                <p class="cluster-name text-style-bold margin-top-px-6 margin-bottom-px-6">
                  {{clusterName}}
                </p>
              {{/if}}
              {{#each fields as |field|}}
                <div class="field {{if field.visible 'field--visible'}}" {{action "fieldVisibilityUpdated" field}}>
                  <OSS::Checkbox
                    @checked={{field.visible}}
                    @size="sm"
                    @onChange={{action "fieldVisibilityUpdated" field bubbes=false}}
                    data-control-name={{concat "field_toggle_checkbox_" field.key}}
                  />
                  <div class="margin-left-px-6">
                    {{#if field.title}}
                      {{field.title}}
                    {{else}}
                      {{field.name}}
                    {{/if}}
                  </div>
                </div>
              {{/each}}
            {{else}}
              <div class="field margin-top-px-30">
                {{t "hypertable.features.manage_fields.no_columns"}}
              </div>
            {{/each-in}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <HyperTableV2::Selection
    class={{if (gt this._selectedCount 0) "margin-top-px-18"}}
    @selected={{this._selectedCount}}
    @total={{this.manager.meta.total}}
    @intlKeyPath={{this.manager.options.selectionIntlKeyPath}}
    @onSelectAll={{action "selectAllGlobal"}}
    @onClear={{action "clearSelection"}}
  />
</div>

<div
  class="hypertable__table {{if (eq this._collection.length 0) 'hypertable__table--empty'}}"
  {{on-bottom-reached this.manager.hooks.onBottomReached}}
>
  {{#if (and this.manager.tetherInstance this.manager.tetherBackdrop)}}
    <div class="hypertable__backdrop" {{action "onBackdropClick"}}></div>
  {{/if}}

  {{#if (and (eq this._collection.length 0) (not this.loadingData))}}
    <div class="hypertable__state hypertable__state--empty">
      {{#if (has-block "inverse")}}
        {{yield to="inverse"}}
      {{else}}
        {{t "hypertable.data.empty_state.default"}}
      {{/if}}
    </div>
  {{/if}}

  <div
    class="hypertable"
    {{sortable-group direction="x" onChange=(action "reorderColumns") groupName=this._hypertableInstanceID}}
  >
    {{#each this._columns as |column index|}}
      {{#if (eq index 0)}}
        <div class="hypertable__sticky-columns">
          {{#if this.manager.options.features.selection}}
            <div
              class="hypertable__column hypertable__column--selection
                {{concat 'hypertable__column--size-' column.size}}"
            >
              <header>
                <OSS::Checkbox
                  @checked={{this.manager._selectAllChecked}}
                  @partial={{lt this._selectedCount this.manager.meta.total}}
                  @size="sm"
                  @onChange={{action "toggleSelectAll"}}
                  data-control-name="row_select_all_toggle_checkbox"
                />
              </header>

              {{#if this.loadingData}}
                {{#each this._loadingCollection}}
                  <HyperTable::Cell @loading={{true}} />
                {{/each}}
              {{else}}
                {{#each this._collection as |item|}}
                  <HyperTable::Cell @item={{item}} @manager={{this.manager}} selection={{true}}>
                    <OSS::Checkbox
                      @checked={{item.selected}}
                      @size="sm"
                      @onChange={{action "toggleItem" item}}
                      data-control-name="row_select_toggle_checkbox"
                    />
                  </HyperTable::Cell>
                {{/each}}

                {{#if this._loadingMore}}
                  <HyperTable::Cell @loading={{true}} />
                  <HyperTable::Cell @loading={{true}} />
                  <HyperTable::Cell @loading={{true}} />
                {{/if}}
              {{/if}}
            </div>
          {{/if}}

          <div class="hypertable__column {{concat 'hypertable__column--size-' column.size}}">
            <header>
              <div class="cell-header">
                {{column.field.name}}
              </div>
            </header>

            {{#if this.loadingData}}
              {{#each this._loadingCollection}}
                <HyperTable::Cell @loading={{true}} />
              {{/each}}
            {{else}}
              {{#each this._collection as |item|}}
                <div onmouseover={{action "toggleHover" item true}} onmouseout={{action "toggleHover" item false}}>
                  <HyperTable::Cell
                    @item={{item}}
                    @column={{column}}
                    @manager={{this.manager}}
                    @renderingComponent={{cell-rendering-inferer column}}
                  />
                </div>
              {{/each}}

              {{#if this._loadingMore}}
                <HyperTable::Cell @loading={{true}} />
                <HyperTable::Cell @loading={{true}} />
                <HyperTable::Cell @loading={{true}} />
              {{/if}}
            {{/if}}
          </div>
        </div>
      {{/if}}
    {{/each}}

    {{#each this._columns as |column index|}}
      {{#if (gt index 0)}}
        <HyperTable::Column
          @column={{column}}
          @manager={{this.manager}}
          {{sortable-item
            groupName=this._hypertableInstanceID
            model=column
            spacing=5
            distance=10
            onDragStart=(action "dragStarted")
          }}
        >
          {{#if this.loadingData}}
            {{#each this._loadingCollection}}
              <HyperTable::Cell @loading={{true}} />
            {{/each}}
          {{else}}
            {{#each this._collection as |item|}}
              <div onmouseover={{action "toggleHover" item true}} onmouseout={{action "toggleHover" item false}}>
                <HyperTable::Cell
                  @item={{item}}
                  @column={{column}}
                  @manager={{this.manager}}
                  @renderingComponent={{cell-rendering-inferer column}}
                />
              </div>
            {{/each}}

            {{#if this._loadingMore}}
              <HyperTable::Cell @loading={{true}} />
              <HyperTable::Cell @loading={{true}} />
              <HyperTable::Cell @loading={{true}} />
            {{/if}}
          {{/if}}
        </HyperTable::Column>
      {{/if}}
    {{/each}}
  </div>

</div>

{{#if this.footer}}
  <div class="hypertable-footer">
    {{#if (eq this._footerType "string")}}
      {{component this.footer collection=this._collection}}
    {{else}}
      {{this.footer}}
    {{/if}}
  </div>
{{/if}}
