<div class="view-line" {{action this.onSelectView this.view}}>
  <div class="view-name {{if (and this.selectedView (eq this.selectedView.id this.view.id)) 'selected'}}">
    {{this.view.name}}
  </div>

  <div class="view-icons">
    {{#if this.predefined}}
      <OSS::Icon @icon="fa-plus" {{action addPredefinedView view bubbles=false}} />
    {{else}}
      <OSS::Icon
        @icon="fa-retweet"
        {{enable-tooltip title="Update this view with the current columns & filters"}}
        {{action this.toggleUpdateViewModal this.view bubbles=false}}
      />

      <OSS::Icon
        @icon="fa-share"
        {{enable-tooltip title="Share this view"}}
        {{action "toggleSharingModal" bubbles=false}}
      />

      <OSS::Icon
        @icon="fa-times"
        {{enable-tooltip title="Delete the view"}}
        {{action this.deleteView this.view bubbles=false}}
      />
    {{/if}}
  </div>
</div>

{{#if this.showSharingModal}}
  <OwnershipSelectionModal
    @model={{this.view}}
    @header="Share View"
    @successfulSharing="Your view has been shared"
    @modelType="view"
    @closeModal={{action "toggleSharingModal"}}
  />
{{/if}}