<div class='view-line' {{action onSelectView view}}>
  <div class='view-name {{if (and selectedView (eq selectedView.id view.id)) 'selected'}}'>{{view.name}}</div>
  <div class='view-icons'>
    {{#if predefined}}
      <i class='fa fa-plus' {{action addPredefinedView view bubbles=false}}></i>
    {{else}}
      <i
        class="fa fa-retweet"
        {{enable-tooltip title="Update this view with the current columns & filters"}}
        {{action toggleUpdateViewModal view bubbles=false}} />

      <i
        class="fa fa-share-alt"
        {{enable-tooltip title="Share this view"}}
        {{action 'toggleSharingModal' bubbles=false}}
      ></i>

      <i
        class="fa fa-close"
        {{enable-tooltip title="Delete the view"}}
        {{action deleteView view bubbles=false}}
      ></i>
    {{/if}}
  </div>
</div>

{{#if showSharingModal}}
  {{ownership-selection-modal
    model=view
    header='Share View'
    successfulSharing='Your view has been shared'
    modelType='view'
    closeModal=(action 'toggleSharingModal')
  }}
{{/if}}
