<div class="view-line" {{on "click" (fn @onSelectView @view)}} role="button">
  <div class="view-name {{if (and @selectedView (eq @selectedView.id @view.id)) 'selected'}}">
    {{@view.name}}
  </div>

  <div class="view-icons">
    {{#if @predefined}}
      <OSS::Icon @icon="fa-plus" {{on "click" (fn @addPredefinedView @view)}} />
    {{else}}
      <OSS::Icon
        @icon="fa-retweet"
        {{enable-tooltip title=(t "hypertable.view.update_with_current")}}
        {{on "click" (stop-propagation (fn @toggleUpdateViewModal @view))}}
      />

      <OSS::Icon
        @icon="fa-share"
        {{enable-tooltip title=(t "hypertable.view.share_view")}}
        {{on "click" this.openSharingModal}}
      />

      <OSS::Icon
        @icon="fa-times"
        {{enable-tooltip title=(t "hypertable.view.delete_view")}}
        {{on "click" (stop-propagation (fn @deleteView @view))}}
      />
    {{/if}}
  </div>
</div>

{{#if this.displaySharingModal}}
  <Identity::OwnershipUpdater
    @title={{t "hypertable.view.share.modal.title"}}
    @record={{@view}}
    @recordType="view"
    @onSuccess={{this.onOwnershipUpdated}}
    @onClose={{this.closeOwnershipModal}}
  />
{{/if}}