<header>
  <div class="cell-header" {{action "orderColumn"}}>

    <div class="header-title-container">
      <span class="field-title" data-toggle="tooltip" data-title={{column.field.name}} data-placement="bottom">
        {{#if column.field.title}}
          <span>{{column.field.title}}</span>
        {{else}}
          {{column.field.name}}
        {{/if}}
      </span>

      {{#if column.field.tooltip}}
        <i data-toggle="tooltip" data-title={{column.field.tooltip}} data-html="true" data-placement="bottom" class="fa fa-info-circle header-tooltip"></i>
      {{/if}}

      {{#if (eq column.orderDirection "asc") }}
        &nbsp;<span class="order-direction">&uarr;</span>
      {{else if (eq column.orderDirection "desc")}}
        &nbsp;<span class="order-direction">&darr;</span>
      {{/if}}
    </div>

    {{#if column.field.clustering_key}}
      <div class="subtitle text-size-4">
        {{column.field.clustering_key}}
      </div>
    {{else if column.field.subtitle}}
      <div class="subtitle text-size-4">
        {{column.field.subtitle}}
      </div>
    {{/if}}
  </div>

  <div class="icon-commands">
    {{#if _supportsOrderingOrFiltering}}
      <i data-toggle="tooltip" data-title='Filters' data-placement="bottom" class="fa fa-filter" {{action "toggleFiltersPanel"}}></i>
    {{/if}}

    <i class="fa fa-bars fa-rotate-90"></i>
  </div>

  {{#if (and _supportsOrderingOrFiltering (eq manager.tetherOn column.key))}}
    {{component _filtersRenderingComponent column=column manager=manager}}
  {{/if}}
</header>

{{yield}}
