<header>
  <div class="cell-header" {{action "orderColumn"}}>
    {{#if column.field.iconPrefix}}
      <span class="text-style-capitalize"><i class={{column.field.iconPrefix}}></i> &nbsp;
      {{column.field.iconSuffix}}</span>
    {{else}}
      {{column.field.name}}
    {{/if}}
  </div>

  <div class="icon-commands">
    {{#if _supportsOrderingOrFiltering}}
      <i class="fa fa-filter" {{action "toggleFiltersPanel"}}></i>
    {{/if}}

    <i class="fa fa-bars fa-rotate-90"></i>
  </div>

  {{#if (and _supportsOrderingOrFiltering (eq manager.tetherOn column.key))}}
    {{component _filtersRenderingComponent column=column manager=manager}}
  {{/if}}
</header>

{{yield}}
