<div class="table-views-wrapper {{if manager.availableTableViews 'visible' 'invisible'}}" {{on-click-outside this.closeAvailableViews}}>
  <div class="view-search-container">
    <div class="text-color-default-light">Search</div>
    {{input
      type="text" placeholder="Search..." value=_searchQuery
      class="form-control upf-input upf-input--small margin-top-xxx-sm margin-bottom-xxx-sm"}}
  </div>

  <div class="views-container">
    {{#if manager.predefinedViews}}
      {{#each manager.predefinedViews as |view|}}
        {{hyper-table/views/view view=view deleteView=(action "deleteView")
                                toggleUpdateViewModal=(action "toggleUpdateViewModal")
                                selectedView=selectedView
                                predefined=true
                                addPredefinedView=(action "addPredefinedView")
                                onSelectView=(action "addPredefinedView")}}
      {{/each}}

      <hr>
    {{/if}}

    {{#each (if filteredViews.length filteredViews this.manager.views) as |view|}}
      {{hyper-table/views/view view=view deleteView=(action "toggleDeleteViewModal")
                               toggleUpdateViewModal=(action "toggleUpdateViewModal")
                               selectedView=selectedView
                               onSelectView=(action "selectView")}}
    {{/each}}
  </div>

  {{#modal-view
    title="New"
    hidden=isHiddenAddViewModal closeAction=(action "toggleAddViewModal")
    container="body"}}
    <div class="modal-body text-center">
      <div class="modal-body-content padding-left-sm padding-right-sm">
        <h2>New Table View</h2>
        <p class="padding-left-x-sm padding-right-x-sm">
          You are just now going to save a new view with the columns, ordering and filters currently applied to your table.
          <br>
          Your existing saved views will not be affected.
        </p>

        {{input
          type="text" placeholder="Profile View Name.." value=newViewName
          class="form-control upf-input upf-input--small margin-top-md"}}

        <p class="margin-top-xx-sm">
          We suggest using a name that will help you easily identify your new IRM Table View.
        </p>
      </div>
    </div>

    <div class="modal-footer">
      <button class="upf-btn upf-btn--primary upf-btn--small add-view-btn margin-bottom-xxx-sm" {{action "addView"}}>
        Save View
      </button>
    </div>
  {{/modal-view}}

  {{#modal-view
    title="Update"
    hidden=isHiddenUpdateViewModal closeAction=(action "toggleUpdateViewModal")
    container="body"}}
    <div class="modal-body text-center">
      <div class="modal-body-content padding-left-x-sm padding-right-x-sm">
        <h2>Update Table View</h2>
        <p class="padding-left-x-sm padding-right-x-sm">
          You are going to update the <b>{{selectedView.name}}</b> Table View with
          the settings currently applied to your table.
          <br>
          Do you want to update your table view?
        </p>
      </div>
    </div>

    <div class="modal-footer btn-group center-block">
      <button class="upf-btn upf-btn--primary upf-btn--small add-view-btn margin-bottom-xxx-sm" {{action "updateView"}}>
        Update
      </button>

      <button class="upf-btn upf-btn--default upf-btn--small add-view-btn margin-bottom-xxx-sm" {{action "toggleUpdateViewModal"}}>
        Cancel
      </button>
    </div>
  {{/modal-view}}

  {{#modal-view
    hidden=isHiddenDeleteViewModal title="Delete View"
    closeAction=(action "toggleDeleteViewModal") container="body"}}
    <div class="modal-body text-center">
      <p class="text-size-4 text-color-default-lighter">
        Are you sure you would like to delete this view?
      </p>
    </div>

    <div class="modal-footer">
      {{#loading-button
        slowAction="deleteView" class="upf-btn upf-btn--destructive"}}
        Delete View
      {{/loading-button}}
    </div>
  {{/modal-view}}

  <button class="upf-btn upf-btn--primary upf-btn--small add-view-btn" {{action "toggleAddViewModal"}}>
    <i class="fa fa-plus"></i> &nbsp; Add View
  </button>
</div>
