{{#if this.emptyValue}}
  —
{{else}}
  <a
    href={{this.value}}
    target="_blank"
    rel="noopener"
    class="upf-link--reset link__value"
    onclick="event.stopPropagation();"
  >
    {{value}}
  </a>

  <OSS::Button
    @icon="far fa-copy"
    @square={{true}}
    class={{if this.isCopied "success-tooltip"}}
    {{enable-tooltip title=(if this.isCopied "Copied" "Copy") placement="top"}}
    {{action "copy" bubbles=false}} />
{{/if}}
