{{#if this.emptyValue}}
  —
{{else}}
  <div class="list-container" {{action "toggleList" bubbles=false}}>
    {{#if this.value.firstObject.name}}
      <div>
        {{this.value.firstObject.name}}
      </div>
      {{#if (eq this.manager.tetherOn this.elementId)}}
        <div class="expandable-list">
          {{#each this.value as |item|}}
            <div
              class="expandable-list__item fx-row fx-xalign-center fx-gap-px-6"
              {{on "click" (action "goToUrl" (concat this.url item.id) bubbles=false)}}
            >
              {{item.name}}
              {{#if this.locked}}
                <OSS::Tag
                  @icon="far fa-lock"
                  @size="xs"
                  @skin="secondary"
                  {{enable-tooltip title=this.lockedTooltipLabel}}
                />
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    {{else}}
      <div {{enable-tooltip title=(get this.value "0") html=true placement="bottom"}}>
        {{get this.value "0"}}
      </div>
    {{/if}}

    <div
      class="margin-left-px-6 list-elements"
      {{enable-tooltip title=this.formattedList placement="bottom" html=true}}
    >
      {{#if this.length}}
        +{{this.length}}
        more
      {{/if}}
      <OSS::Icon
        @icon={{if (eq this.manager.tetherOn this.elementId) "fa-caret-up" "fa-caret-down"}}
        class="margin-left-px-6"
      />
    </div>
  </div>
{{/if}}