{{#if (and this.emptyValue (or (not this.editStatus.status) this.isSuccess))}}
  {{#if this.isUpsertable}}
    <span {{action "toggleEditing"}}>
      {{or this.column.field.emptyPlaceholder "Add value"}}
    </span>
  {{else}}
    {{or this.column.field.emptyState "—"}}
  {{/if}}
{{else}}
  <div class="editing-input">
    {{#if (and this.editStatus.status (not this.isSuccess))}}
      <div class={{if this.isError "is-invalid"}}>
        {{input
          type="number"
          focus-out=(action "toggleEditing" this.editableValue)
          insert-newline=(action "toggleEditing" this.editableValue)
          value=this.value
          class="editing-input__field form-control"
        }}
      </div>
    {{else}}
      <div class="text-value" {{enable-tooltip title=(format-numeric this.value) placement="bottom"}}>
        {{format-number this.value}}
      </div>
    {{/if}}
  </div>
{{/if}}

{{! TODO: Extract to component }}
{{#if this.isUpsertable}}
  <div class="status-container margin-left-x-sm text-color-default-lighter">
    {{#if this.isSaving}}
      <LoadingState />
    {{else if this.isSuccess}}
      <OSS::Icon @icon="fa-pencil" class="cell-edition delayed" {{action "toggleEditing"}} />
      <OSS::Icon @icon="fa-check" class="font-size-lg font-color-success-500" />
    {{else if (not this.editStatus.status)}}
      <OSS::Icon @icon="fa-pencil" class="cell-edition delayed" {{action "toggleEditing"}} />
    {{/if}}
  </div>
{{/if}}