{{#if this.isUpsertable}}
  <span {{action "toggleEditing"}}>
    {{or this.column.field.emptyPlaceholder "Add value"}}
  </span>
{{else}}
  <div class="text-value" {{enable-tooltip data-title=this.value placement="bottom"}}>
    {{if this.emptyValue '—' this.value}}
  </div>
{{/if}}

{{#if this.isUpsertable}}
  <div class="editing-input">
    <div class={{if this.isError "is-invalid"}}>
      {{input
        type="text"
        value=this.editableValue
        class="editing-input__field form-control upf-input"
        focus-out=(action "toggleEditing" this.editableValue)
        insert-newline=(action "toggleEditing" this.editableValue)
      }}
    </div>
    <div class="text-value" {{enable-tooltip title=this.editableValue placement="bottom"}}>
      {{this.editableValue}}
    </div>
  </div>
{{/if}}
{{! TODO: Extract to component }}
{{#if this.isUpsertable}}
  <div class="status-container margin-left-px-18 font-color-gray-500">
    {{#if this.isSaving}}
      <LoadingState />
    {{else if this.isSuccess}}
      <OSS::Icon @icon="fa-pencil" class="cell-edition delayed" {{action "toggleEditing"}} />
      <OSS::Icon @icon="fa-check" class="font-size-lg font-color-success-500" />
    {{else if (not this.editStatus.status)}}
      <OSS::Icon @icon="fa-pencil" class="cell-edition delayed" {{action "toggleEditing"}} />
    {{/if}}
  </div>
{{/if}}
