<div class="fx-row fx-gap-px-12">
  {{#if this.shouldDisplay}}
    <OSS::Button
      @skin="default"
      @label={{t "hypertable.column.remove"}}
      {{on "click" this.removeColumn}}
      class="fx-1"
      data-control-name={{concat "hypertable__column_filtering_for_" @column.definition.key "_remove_column"}}
    />
  {{/if}}

  {{#if this.displayClearButton}}
    <OSS::Button
      @skin="secondary"
      @label={{t "hypertable.column.clear_filters"}}
      class="fx-1"
      {{on "click" this.reset}}
      data-control-name={{concat "hypertable__column_filtering_for_" @column.definition.key "_clear_filters"}}
    />
  {{/if}}
</div>