<div data-control-name={{concat "hypertable__column_filtering_for_" @column.definition.key "_filters"}}>
  <div class="margin-top-xxx-sm">
    <label>{{t "hypertable.column.filtering.search_term.label"}}</label>
    <OSS::SearchField
      @value={{this.searchQuery}}
      @onChange={{this.onInputChanged}}
      @placeholder={{t "hypertable.column.filtering.search_term.placeholder"}}
      @type={{if (eq @type "number") @type}}
      data-control-name="filter-renderers-common-search-input"
    />
  </div>
</div>