<div data-control-name={{concat "hypertable__column_filtering_for_" @column.definition.key "_filters"}}>
  <div class="margin-top-xxx-sm">
    <label>{{t "hypertable.column.filtering.search_term.label"}}</label>
    <OSS::InputContainer @value={{this.searchQuery}} @onChange={{this.onInputChanged}}
                         @placeholder={{t "hypertable.column.filtering.search_term.placeholder"}}>
      <:suffix>
        {{#if (gt this.searchQuery.length 0)}}
          <i class="fa fa-remove" role="button" {{on "click" this.onClearSearch}}></i>
        {{/if}}
      </:suffix>
    </OSS::InputContainer>
  </div>
</div>
