<div class="view-line" {{action onSelectView view}}>
  <div class="view-name">{{view.name}}</div>
  <div class="view-icons">
    <i class="fa fa-retweet" {{action toggleUpdateViewModal view bubbles=false}}></i>
    <i class="fa fa-share-alt" {{action "toggleSharingModal" bubbles=false}}></i>
    <i class="fa fa-close" {{action deleteView view bubbles=false}}></i>
  </div>
</div>

{{!-- {{#if showSharingModal}}
  {{ownership-selection-modal
      model=view header="Test"
      successfulSharing="Test"
      modelType="view"  closeModal=(action "toggleSharingModal")}}
  {{ownership-selection-modal}}
{{/if}} --}}
