<div class="hypertable__cell {{if this.loading 'hypertable__cell--loading'}}" ...attributes>
  {{#if this.loading}}
    <div class="skeleton-placeholder"></div>
  {{else if this.cellComponent}}
    <this.cellComponent.component
      @handler={{@handler}} @column={{@column}} @row={{@row}} @extra={{this.cellComponent.args}} />
  {{/if}}
</div>
