<div id={{this.elementId}} class={{this.computedClasses}} ...attributes>
  <header class="fx-row fx-malign-space-between" {{sortable-handle}}>
    <div class="cell-header" role="button" {{on "click" this.orderColumn}}>
      <div class="header-title-container">
        {{#if this.loadingHeaderComponent}}
          <OSS::Icon @icon="fa-spinner fa-spin" />
        {{else if this.headerComponent}}
          <this.headerComponent.component
            @handler={{@handler}}
            @column={{@column}}
            @extra={{this.headerComponent.args}}
          />
        {{/if}}

        {{#if (eq @column.order.direction "asc")}}
          <span class="margin-left-px-6 text-color-default"><OSS::Icon @icon="fa-long-arrow-up" /></span>
        {{else if (eq @column.order.direction "desc")}}
          <span class="margin-left-px-6 text-color-default"><OSS::Icon @icon="fa-long-arrow-down" /></span>
        {{/if}}
      </div>
    </div>

    <div class="icon-commands" data-control-name={{concat "table_column_filter_sort_toggle_" @column.definition.key}}>
      {{#if (or @column.definition.filterable @column.definition.orderable)}}
        <OSS::Icon
          @icon="fa-filter"
          role="button"
          {{on "click" this.toggleFilteringComponent}}
          {{enable-tooltip title=(t "hypertable.column.filtering.label")}}
        />
      {{/if}}

      {{#if (and this.filteringComponent (eq @handler.tetherOn @column.definition.key))}}
        <div class="available-filters" {{on-click-outside this.toggleFilteringComponent}}>
          <this.filteringComponent.component
            @handler={{@handler}}
            @column={{@column}}
            @extra={{this.filteringComponent.args}}
          />
        </div>
      {{/if}}

      {{#if this.displayMoveIndicator}}
        <OSS::Icon @icon="fa-bars fa-rotate-90" />
      {{/if}}
    </div>
  </header>

  {{yield}}
</div>