<div class="hypertable-container" ...attributes>
  <div class="hypertable__upper-header">
    <div class="fx-row">
      <div class="left-side">
        {{#if this.features.selection}}
          <div class="selected-count">
            {{format-number this.selectionCount}}
          </div>
        {{/if}}

        {{#if this.initialFetchColumnsDone}}
          <div class="search">
            {{#if (has-block "search")}}
              {{yield to="search"}}
            {{else if this.features.searchable}}
              <HyperTableV2::Search @handler={{@handler}} />
            {{/if}}
          </div>
        {{/if}}
        {{#if (has-block "contextual-actions")}}
          {{yield to="contextual-actions"}}
        {{/if}}
      </div>
      <div class="right-side">
        <OSS::Button
          class="margin-right-xx-sm"
          @label={{t "hypertable.features.filtering.reset_all"}}
          {{on "click" this.resetFilters}}
          @loading={{this.loadingResetFilters}}
          data-control-name="hypertable_reset_filters_button"
        />

        {{#if (has-block "table-actions")}}
          {{yield to="table-actions"}}
        {{/if}}

        <HyperTableV2::ManageColumns @handler={{@handler}} @didInsertColumn={{this.scrollToEnd}} />
      </div>
    </div>
    <HyperTableV2::Selection
      class={{if (gt this.selectionCount 0) "margin-top-px-18"}}
      @selected={{this.selectionCount}}
      @total={{@handler.rowsMeta.total}}
      @intlKeyPath={{@options.selectionIntlKeyPath}}
      @onSelectAll={{this.selectAllGlobal}}
      @onClear={{this.clearSelection}}
    />
  </div>

  <div
    class="hypertable__table hypertable__table--v2"
    {{did-insert this.setupInnerTableElement}}
    {{on-bottom-reached this.onBottomReached}}
  >
    {{#if @handler.communicationError}}
      <div class="hypertable__state hypertable__state--error padding-md fx-col fx-gap-px-20">
        <OSS::Badge @icon="fas fa-exclamation-triangle" @skin="error" @size="lg" />
        <div class="fx-col fx-xalign-center">
          <span class="text-style-bold text-size-7">{{t "hypertable.data.communication_error.title"}}</span>
          <span class="text-color-default-light">{{t "hypertable.data.communication_error.description"}}</span>
        </div>
        <OSS::Button
          @label={{t "hypertable.data.communication_error.refresh_page"}}
          @skin="primary"
          {{on "click" this.reloadPage}}
        />
      </div>
    {{else}}
      {{#if (and (eq @handler.rows.length 0) (not @handler.loadingRows))}}
        <div class="hypertable__state hypertable__state--empty">
          {{#if (has-block "empty-state")}}
            {{yield to="empty-state"}}
          {{else}}
            <img
              src="/@upfluence/hypertable/assets/images/empty-state.png"
              width="40%"
              alt={{t "hypertable.rows.empty_content"}}
            />
            <p class="text-color-default-light text-size-6 margin-top-xx-sm">
              {{t "hypertable.rows.empty_content"}}
            </p>
          {{/if}}
        </div>
      {{/if}}

      <div
        class="hypertable"
        style={{this.columnsCountStyle}}
        {{sortable-group direction="x" onChange=this.reorderColumns groupName=this.hypertableInstanceID}}
      >
        {{#each @handler.columns as |column index|}}
          {{#if (eq index 0)}}
            <div class="hypertable__sticky-columns">
              {{#if this.features.selection}}
                <div class="hypertable__column hypertable__column--selection">
                  <header {{on "click" (fn this.toggleSelectAll (eq this.selectionCount 0))}} role="button">
                    <OSS::Checkbox
                      @checked={{gt this.selectionCount 0}}
                      @size="sm"
                      @onChange={{this.toggleSelectAll}}
                      @partial={{lt this.selectionCount @handler.rowsMeta.total}}
                    />
                  </header>

                  {{#each @handler.rows as |row|}}
                    <HyperTableV2::Cell
                      @handler={{@handler}}
                      @column={{column}}
                      @row={{row}}
                      @onClick={{fn this.toggleRowSelection row}}
                      @onHover={{this.onRowHover}}
                    >
                      <OSS::Checkbox
                        @checked={{if
                          (eq @handler.selection "all")
                          (not (array-includes @handler.exclusion row))
                          (array-includes @handler.selection row)
                        }}
                        @size="sm"
                        @onChange={{fn this.toggleRowSelection row}}
                      />
                    </HyperTableV2::Cell>
                  {{/each}}

                  {{#if @handler.loadingRows}}
                    {{#each this.loadingSkeletons}}
                      <HyperTableV2::Cell @loading={{true}} />
                    {{/each}}
                  {{/if}}
                </div>
              {{/if}}

              <HyperTableV2::Column @handler={{@handler}} @column={{column}}>
                {{#each @handler.rows as |row|}}
                  <HyperTableV2::Cell
                    @handler={{@handler}}
                    @column={{column}}
                    @row={{row}}
                    @onClick={{this.onRowClick}}
                    @onHover={{this.onRowHover}}
                  />
                {{/each}}

                {{#if @handler.loadingRows}}
                  {{#each this.loadingSkeletons}}
                    <HyperTableV2::Cell @loading={{true}} />
                  {{/each}}
                {{/if}}
              </HyperTableV2::Column>
            </div>
          {{/if}}

          {{#if (gt index 0)}}
            <HyperTableV2::Column
              @handler={{@handler}}
              @column={{column}}
              class={{if
                column.definition.position.sticky
                (concat "hypertable__column--sticky-" column.definition.position.side)
              }}
              {{sortable-item
                groupName=this.hypertableInstanceID
                model=column
                spacing=5
                distance=10
                disabled=column.definition.position.sticky
              }}
            >
              {{#each @handler.rows as |row|}}
                <HyperTableV2::Cell
                  @handler={{@handler}}
                  @column={{column}}
                  @row={{row}}
                  @onClick={{this.onRowClick}}
                  @onHover={{this.onRowHover}}
                />
              {{/each}}

              {{#if @handler.loadingRows}}
                {{#each this.loadingSkeletons}}
                  <HyperTableV2::Cell @loading={{true}} />
                {{/each}}
              {{/if}}
            </HyperTableV2::Column>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>