{{#if column.orderable}}
  {{#input-wrapper}}
    <label>Order By</label>
    <div class="btn-group upf-radio-group" data-control-name={{concat _controlNamePrefix "_order_by_radio"}}>
      {{#each-in orderingOptions as |label value|}}
        {{radio-button
          value=value currentValue=column.orderBy label=label
          options=orderingOptions onCheck="orderingOptionChanged"}}
      {{/each-in}}
    </div>
  {{/input-wrapper}}
{{/if}}

{{#if column.filterable}}
  {{#input-wrapper classNames=(if column.orderable "margin-top-xx-sm")}}
    <label>Display</label>
    <div
      class="btn-group upf-radio-group upf-radio-group--block"
      data-control-name={{concat _controlNamePrefix "_filter_by_radio"}}>
      {{#each-in existenceFilters as |label value|}}
        {{radio-button
          value=value currentValue=currentExistenceFilter label=label
          options=existenceFilters onCheck="existenceFilterChanged"}}
      {{/each-in}}
    </div>
  {{/input-wrapper}}

  <div class="row" data-control-name={{concat _controlNamePrefix "_range_inputs"}}>
    {{#input-wrapper classNames="col-xs-6"}}
      <label>From</label>
      {{input
        type="number" placeholder="From" value=lowerBoundFilter
        class="form-control upf-input upf-input--textarea"}}
    {{/input-wrapper}}

    {{#input-wrapper classNames="col-xs-6"}}
      <label>To</label>
      {{input
        type="number" placeholder="To" value=upperBoundFilter
        class="form-control upf-input upf-input--textarea"}}
    {{/input-wrapper}}
  </div>

  <div class="margin-top-xx-sm buttons-container">
    <button class="upf-btn upf-btn--destructive upf-btn--small" {{action "removeColumn"}}>
      Remove Field
    </button>

    <button class="upf-btn upf-btn--default upf-btn--small" {{action "reset"}}>
      Clear Filters
    </button>
  </div>
{{/if}}
