<div class="fx-col fx-gap-px-20" data-control-name={{concat "hypertable__column_filtering_for_" @column.definition.key}}>
  {{#if @column.definition.orderable}}
    <div class="fx-col">
      <label>{{t "hypertable.column.ordering.label"}}</label>
      <div class="btn-group upf-radio-group"
           data-control-name={{concat "hypertable__column_filtering_for_" @column.definition.key "_ordering"}}>
        {{#each-in this.orderingDirections as |label value|}}
          <RadioButton
                       @value={{value}}
                       @currentValue={{this.currentOrderingDirection}}
                       @label={{label}}
                       @options={{this.orderingDirections}}
                       @onCheck={{this.orderingDirectionChanged}} />
        {{/each-in}}
      </div>
    </div>
  {{/if}}

  {{#if @column.definition.filterable}}
    <div class="fx-col">
      <label>{{t "hypertable.column.filtering.existence.label"}}</label>
      <div class="btn-group upf-radio-group upf-radio-group--block"
           data-control-name={{concat "hypertable__column_filtering_for_" @column.definition.key "existence_selector"}}>
        {{#each-in this.existenceFilters as |label value|}}
          <RadioButton
                       @value={{value}}
                       @currentValue={{this.currentExistenceFilter}}
                       @label={{label}}
                       @options={{this.existenceFilters}}
                       @onCheck={{this.existenceFilterChanged}} />
        {{/each-in}}
      </div>
    </div>

    <div class="fx-row fx-gap-px-30"
         data-control-name={{concat "hypertable__column_filtering_for_" @column.definition.key "range_inputs"}}>
      <div class="fx-col">
        <label>{{t "hypertable.column.filtering.from"}}</label>
        <OSS::InputContainer>
          <:input>
            <Input type="number" @placeholder={{t "hypertable.column.filtering.from"}} @value={{this.lowerBoundFilter}}
                   autocomplete="off" {{on "keydown" this.addRangeFilter}} />
          </:input>
        </OSS::InputContainer>
      </div>
      <div class="fx-col">
        <label>{{t "hypertable.column.filtering.to"}}</label>
        <OSS::InputContainer>
          <:input>
            <Input type="number" @placeholder={{t "hypertable.column.filtering.to"}} @value={{this.upperBoundFilter}}
                   autocomplete="off" {{on "keydown" this.addRangeFilter}} />
          </:input>
        </OSS::InputContainer>
      </div>
    </div>

    <div class="fx-row fx-malign-space-between">
      <OSS::Button @skin="destructive" @label={{t "hypertable.column.remove"}} @size="md"
                   {{on "click" this.removeColumn}} />

      <OSS::Button @skin="default" @label={{t "hypertable.column.clear_filters"}} @size="md"
                   {{on "click" this.reset}} />
    </div>
  {{/if}}

</div>
