{{#if @column.definition.orderable}}
  <label>{{t "hypertable.column.ordering.label"}}</label>
  <div class="btn-group upf-radio-group">
    {{#each-in this.orderingDirections as |label value|}}
      <RadioButton
        @value={{value}}
        @currentValue={{this.currentOrderingDirection}}
        @label={{label}}
        @options={{this.orderingDirections}}
        @onCheck={{this.orderingDirectionChanged}} />
    {{/each-in}}
  </div>
{{/if}}

{{#if @column.definition.filterable}}
  <div class={{if @column.definition.orderable "margin-top-xx-sm"}}>
    <label>{{t "hypertable.column.filtering.existence.label"}}</label>
    <div class="btn-group upf-radio-group upf-radio-group--block">
      {{#each-in this.existenceFilters as |label value|}}
        <RadioButton
          @value={{value}}
          @currentValue={{this.currentExistenceFilter}}
          @label={{label}}
          @options={{this.existenceFilters}}
          @onCheck={{this.existenceFilterChanged}} />
      {{/each-in}}
    </div>
  </div>

  <div class="margin-top-xxx-sm">
    <label>{{t "hypertable.column.filtering.search_term.label"}}</label>
    <OSS::InputContainer
      @value={{this.searchQuery}} @placeholder={{t "hypertable.column.filtering.search_term.placeholder"}} />
  </div>
{{/if}}

<div class="margin-top-xx-sm fx-row fx-malign-space-between">
  <OSS::Button
    @skin="destructive" @size="sm" @label="Remove Field" {{on "click" this.removeColumn}} />

  <OSS::Button
    @size="sm" @label="Clear Filters" {{on "click" this.reset}} />
</div>
