<div data-control-name={{concat "hypertable__column_filtering_for_" @column.definition.key}}>
  {{#if @column.definition.orderable}}
    <HyperTableV2::FilteringRenderers::Common::Ordering @handler={{@handler}} @column={{@column}}
                                                        @label={{t "hypertable.column.ordering.label"}}
                                                        data-control-name={{concat "hypertable__column_filtering_for_" @column.definition.key "_ordering"}} />
  {{/if}}

  {{#if @column.definition.filterable}}
    <HyperTableV2::FilteringRenderers::Common::Search @handler={{@handler}} @column={{@column}}
                                                      @registerResetCallback={{this.registerResetCallback}} />
  {{/if}}

  <div class="margin-top-xx-sm fx-row fx-malign-space-between">
    <OSS::Button @skin="destructive" @size="sm" @label={{t "hypertable.column.remove"}} {{on "click" this.removeColumn}}
                 data-control-name={{concat "hypertable__column_filtering_for_" @column.definition.key "_remove_column"}} />

    <OSS::Button @size="sm" @label={{t "hypertable.column.clear_filters"}} {{on "click" this.reset}}
                 data-control-name={{concat "hypertable__column_filtering_for_" @column.definition.key "_clear_filters"}} />
  </div>
</div>
