{{#if emptyValue}}
  —
{{else}}
  <div class="list-container">
    {{#if value.firstObject.name}}
      <div data-toggle="tooltip" data-html="true" data-title={{value.firstObject.name}} data-placement="bottom" 
           {{action "goToUrl" (concat url value.firstObject.id) bubbles=false}}>
        {{value.firstObject.name}}
      </div>
      {{#if (and length (eq manager.tetherOn elementId))}}
        <div class="expandable-list">
          {{#each formattedList as |item|}}
            <div {{action "goToUrl" (concat url item.id) bubbles=false}}>
              {{item.name}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    {{else}}
      <div data-toggle="tooltip" data-html="true" data-title={{get value '0'}} data-placement="bottom">
        {{get value '0'}}
      </div>
    {{/if}}

    {{#if length}}
      <div class="text-color-default-lighter margin-left-xxx-sm list-elements" {{action 'toggleList' bubbles=false}}>
        +{{length}} more
        <i class="fa fa-caret-down padding-left-xxx-sm"></i>
      </div>
    {{/if}}
  </div>
{{/if}}
