<div class="editing-input padding-xx-sm" style="">
  {{#if isEditing}}
    {{input type="number" focus-out=(action "toggleEditing") type="text" value=value class="editing-input__field form-control"}}
    <i class="fa fa-save margin-left-xx-sm" onclick={{action "toggleEditing"}}/>
  {{else}}
    <span data-toggle="tooltip" data-title={{format-numeric value}}>
      {{if emptyValue '—' (format-numeric value)}}
    </span>
    <i class="fa fa-pencil margin-left-xxx-sm" onclick={{action "toggleEditing"}}/>
  {{/if}}
</div>
