{{#if (and emptyValue (not isEditing))}}
  {{#if column.upsertable}}
    Add Value
    <i class="fa fa-pencil margin-left-xxx-sm" onclick={{action "toggleEditing"}}></i>
  {{else}}
    —
  {{/if}}
{{else}}
  <div class="editing-input">
    {{#if isEditing}}
      {{input type="text" focus-out=(action "toggleEditing" value) value=value class="editing-input__field form-control"}}
      <i class="fa fa-save margin-left-xx-sm" onclick={{action "toggleEditing" value}}></i>
    {{else}}
      <span data-toggle="tooltip" data-title={{value}} data-placement="bottom">
        {{truncatedText}}
      </span>

      {{#if column.upsertable}}
        <i class="fa fa-pencil margin-left-xxx-sm" onclick={{action "toggleEditing"}}></i>
      {{/if}}
    {{/if}}
  </div>
{{/if}}
