{{#if (and emptyValue (or (not editStatus.status) isSuccess))}}
  {{#if column.upsertable}}
    <span {{action "toggleEditing"}}>
      {{or column.field.emptyPlaceholder "Add value"}}
    </span>
  {{else}}
    —
  {{/if}}
{{else}}
  <div class="editing-input">
    {{#if (and editStatus.status (not isSuccess))}}
      <div class={{if isError 'is-invalid'}}>
        {{input
          type="text" value=editableValue class="editing-input__field form-control upf-input"
          insert-newline=(action "toggleEditing" editableValue) }}
      </div>
    {{else}}
      <div data-toggle="tooltip" class="text-value" data-title={{value}} data-placement="bottom">
        {{value}}
      </div>
    {{/if}}
  </div>
{{/if}}

{{!-- TODO: Extract to component --}}
{{#if column.upsertable}}
  <div class="status-container margin-left-x-sm text-color-default-lighter">
    {{#if isSuccess}}
      <i class="fa fa-pencil delayed" onclick={{action "toggleEditing"}}></i>
      <span class="text-color-success upf-icon upf-icon--check text-size-6"></span>
    {{else if (or isEditing isError)}}
      <i class="fa fa-save" onclick={{action "toggleEditing" editableValue}}></i>
    {{else if isSaving}}
      {{loading-state}}
    {{else}}
      <i class="fa fa-pencil" onclick={{action "toggleEditing"}}></i>
    {{/if}}
  </div>
{{/if}}
