{{#if this.column.orderable}}
  <div class="fx-col fx-gap-px-6">
    <span class="font-color-gray-500 font-size-md">Order By</span>
    <OSS::ToggleButtons
      @toggles={{this.orderingOptions}}
      @selectedToggle={{this.column.orderBy}}
      @onSelection={{action "orderingOptionChanged"}}
      data-control-name={{concat this._controlNamePrefix "_order_by_radiogroup"}}
    />
  </div>
{{/if}}

{{#if this.column.filterable}}
  <div class={{concat "fx-col fx-gap-px-6" (if this.column.orderable " margin-top-px-12")}}>
    <label>Display</label>
    <div class="fx-col fx-gap-px-3" data-control-name={{concat this._controlNamePrefix "_display_radiogroup"}}>
      {{#each-in this.existenceFilters as |label value|}}
        <div class="fx-row fx-gap-px-6" role="button" {{on "click" (action "existenceFilterChanged" value)}}>
          <OSS::RadioButton @selected={{eq this.currentExistenceFilter value}} />
          <span class="font-color-gray-900">{{label}}</span>
        </div>
      {{/each-in}}
    </div>
  </div>

  <div
    class="fx-row fx-gap-px-12 margin-top-px-12"
    data-control-name={{concat this._controlNamePrefix "_range_inputs"}}
  >
    <div class="fx-col fx-gap-px-6">
      <label>From</label>
      <OSS::InputContainer>
        <:input>
          <Input
            @value={{this.lowerBoundFilter}}
            @type="number"
            placeholder="From"
            aria-label="From"
            autocomplete="off"
            {{did-insert this.setupOnlyNumericListener}}
            {{will-destroy this.teardownOnlyNumericListener}}
          />
        </:input>
      </OSS::InputContainer>
    </div>

    <div class="fx-col fx-gap-px-6">
      <label>To</label>
      <OSS::InputContainer>
        <:input>
          <Input
            @value={{this.upperBoundFilter}}
            @type="number"
            placeholder="To"
            aria-label="To"
            autocomplete="off"
            {{did-insert this.setupOnlyNumericListener}}
            {{will-destroy this.teardownOnlyNumericListener}}
          />
        </:input>
      </OSS::InputContainer>
    </div>
  </div>

  <div class="margin-top-px-12 fx-row fx-malign-space-between">
    <OSS::Button @skin="destructive" @label="Remove field" {{action "removeColumn"}} />
    <OSS::Button @label="Clear filters" {{action "reset"}} />
  </div>
{{/if}}