{{#if column.orderable}}
  {{#input-wrapper}}
    <label>Sort</label>
    <div class='btn-group upf-radio-group' data-control-name={{concat _controlNamePrefix '_sort_radiogroup'}}>
      {{#each-in orderingOptions as |label value|}}
        {{radio-button
          value=value
          currentValue=column.orderBy
          label=label
          options=orderingOptions
          onCheck='orderingOptionChanged'
        }}
      {{/each-in}}
    </div>
  {{/input-wrapper}}
{{/if}}

{{#if column.filterable}}
  {{#input-wrapper classNames=(if column.orderable 'margin-top-xx-sm')}}
    <label>Display</label>
    <div
      class='btn-group upf-radio-group upf-radio-group--block'
      data-control-name={{concat _controlNamePrefix '_display_radiogroup'}}
    >
      {{#each-in existenceFilters as |label value|}}
        {{radio-button
          value=value
          currentValue=currentExistenceFilter
          label=label
          options=existenceFilters
          onCheck='existenceFilterChanged'
        }}
      {{/each-in}}
    </div>
  {{/input-wrapper}}

  {{#input-wrapper}}
    <label>Search</label>
    <div>
      <Input
        type='text'
        placeholder='Search...'
        @value={{_searchQuery}}
        data-control-name={{concat _controlNamePrefix '_search_input'}}
        class="form-control upf-input"
      />
    </div>
  {{/input-wrapper}}

  <div class="margin-top-px-12 fx-row fx-malign-space-between">
    <OSS::Button
      @skin="destructive" @label="Remove field" {{action "removeColumn"}} />
    <OSS::Button @label="Clear filters" {{action "reset"}} />
  </div>
{{/if}}
