{{#if this.column.orderable}}
  <div class="fx-col">
    <label>Sort</label>
    <OSS::ToggleButtons
      @toggles={{this.orderingOptions}}
      @selectedToggle={{this.column.orderBy}}
      @onSelection={{action "orderingOptionChanged"}}
      data-control-name={{concat this._controlNamePrefix "_sort_radiogroup"}}
    />
  </div>
{{/if}}

{{#if this.column.filterable}}
  <div class={{concat "fx-col" (if this.column.orderable " margin-top-px-12")}}>
    <label>Display</label>
    <div class="fx-col fx-gap-px-3" data-control-name={{concat this._controlNamePrefix "_display_radiogroup"}}>
      {{#each-in this.existenceFilters as |label value|}}
        <div class="fx-row fx-gap-px-6" role="button" {{on "click" (action "existenceFilterChanged" value)}}>
          <OSS::RadioButton @selected={{eq this.currentExistenceFilter value}} />
          <span class="font-color-gray-900">{{label}}</span>
        </div>
      {{/each-in}}
    </div>
  </div>

  <div class="fx-col margin-top-px-12">
    <label>Search</label>
    <OSS::InputContainer
      @value={{this._searchQuery}}
      placeholder="Search..."
      data-control-name={{concat this._controlNamePrefix "_search_input"}}
    />
  </div>

  <div class="margin-top-px-12 fx-row fx-malign-space-between">
    <OSS::Button @skin="destructive" @label="Remove field" {{action "removeColumn"}} />
    <OSS::Button @label="Clear filters" {{action "reset"}} />
  </div>
{{/if}}